name: Trivy Image Scan (GitHub Security)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  trivy-image-scan:
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t pygoat:latest .

      - name: Run Trivy Image Scan (SARIF)
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: pygoat:latest
          format: sarif
          output: trivy-results.sarif
          severity: CRITICAL,HIGH,MEDIUM
          exit-code: "0"

      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-results.sarif

      - name: Upload Trivy SARIF Artifact
        uses: actions/upload-artifact@v4
        with:
          name: trivy-sarif-report
          path: trivy-results.sarif
